# PANDAS

## Series

```python
import pandas as pd
import numpy as np
```

Serie = monodimensionali, possono contenere qualsiasy data type. Contengono indice e valore.\
Dataframe = struttura 2d che contiene più serie

In [11]:
import pandas as pd
import numpy as np
variabile = pd.Series([1,2,[5,6], "ciao", np.nan])
variabile2 = pd.Series([1,2,[5,6], "ciao", np.nan], index=["Camilla", "Francesco", "Giada", 5,7])

Possiamo accedere a indice e valori, usando nomeserie.index oppure nomeserie.values

In [5]:
for el in variabile2.values:
    print(el)

1
2
[5, 6]
ciao
nan

In [24]:
for index in variabile2.index:
    print("The index %s for the value %s" %(index,variabile2[index]))

The index Camilla for the value 1
The index Francesco for the value 2
The index Giada for the value [5, 6]
The index 5 for the value ciao
The index 7 for the value nan

Per creare una serie con pd.Series aggiungo sempre ( ):\
-se ho un insieme di chiavi:valori aggiungo anche le graffe ( { } )\
-se ho una lista per i valori e una lista per le chiavi, la sintassi sarà ([ ], index =[ ])\
pd.Series = ( [valori], index=[...])

In [ ]:
students = pd.Series([28, 15, 30, 24, 10, 19], 
                     index = ['Lorenzo', 'Alessandra', 'Sofia', 'Giovanni', 'Matteo', 'Chiara'])
print(students)

In [ ]:
print(students[students>=18])

In [26]:
# é possibile creare una serie a partire da un dizionario

capitals = pd.Series(
    {
        'Italy': 'Rome',
        'Germany': 'Berlin',
        'France': 'Paris',
        'Spain': 'Madrid',
        'Portugal': 'Lisbon'
    }  
)
print(capitals)
print(type(capitals))

Italy         Rome
Germany     Berlin
France       Paris
Spain       Madrid
Portugal    Lisbon
dtype: object
<class 'pandas.core.series.Series'>

In [29]:
population_dict = {'Italy': 58_800_000, 
                   'Spain': 48_400_000, 
                   'Germany': 84_400_000, 
                   'Portugal': 10_400_000, 
                   'France': 68_200_000}

population = pd.Series(population_dict)
print(population)

Italy       58800000
Spain       48400000
Germany     84400000
Portugal    10400000
France      68200000
dtype: int64

### Trasformazioni Serie
Le serie possono essere anche (ri) convertite in dizionari e liste di Python.\
-Nel caso dei dizionari sarà un dizionario che rispetta la struttura della serie chiave valore
```python
nomeserie.to_dict()
```
-Nel caso delle liste sarà una lista di valori 
```python
nomeserie.to_list()
```

## Dataframe

Per creare un dataframe a partire da delle serie (capitals & population) il comando è\
pd.DataFrame( { nomecolonna1, nomecolonna2 } )
Quando utilizzo la funzione pd.Series oppure pd.DataFrame, devo inserire:\
-sempre le tonde ( )\
-nel caso in cui non trasformo direttamente una variabile, ma parto con delle chiavi:valori, devo aggiungere anche ( { } )

In [31]:
countries = pd.DataFrame({'capitals': capitals, 'population': population})
print(countries)

         capitals  population
France      Paris    68200000
Germany    Berlin    84400000
Italy        Rome    58800000
Portugal   Lisbon    10400000
Spain      Madrid    48400000

In [35]:
#Per selezionare una colonna (una serie) da un dataframe la sintassi sarà: dataframe['nomecolonna']:
countries['capitals']

France       Paris
Germany     Berlin
Italy         Rome
Portugal    Lisbon
Spain       Madrid
Name: capitals, dtype: object

In [40]:
#Per selezionare un subset di elementi di una cetta colonna
countries['capitals'][1:3]

Germany    Berlin
Italy        Rome
Name: capitals, dtype: object

Per accedere alle colonne di un dataframe: 
```python
dataframe.columns
```
Per accedere agli indici di un dataframe:
```python
dataframe.index
```

### Trasformazioni DataFrame 
```python
dizionario = dataframe.to_dict()
```

# Analisi di un dataframe (numero righe, colonne, elementi)

- **shape**\
tupla (numero righe, numero colonne)
```python
dataframe.shape
```
- **size**\
Resituisce il numero di elementi come numero intero (righe*colonne)
```python
dataframe.size
```
- **info()**


```python
dataframe.info()
```
- **head()** \
Restituisce di default le prime 5 righe, altrimenti il numero viene passato come argomento

- **tail()** \
Restituisce di default le ultime 5 righe, altrimenti il numero viene passato come argomento

 
- **describe()** \
Genera un insieme di statistiche relative al dataframe
```python
dataframe.describe()
```

## Accedere a colonne selezionate

Mentre **dataframe.columns** accedde a tutte le colonne, si può scegliere solo certe colonne con vari metodi: \

```python
dataframe.colonna
dataframe['colonna']
```

## Creare nuove colonne

```python
df['NUOVAcolonna'] = variabile
df.NUOVAcolonna = variabile
```

## Accedere a righe selezionate


- **loc[ ]** \
Accede alle righe basandosi o sull'indice (ex.400) o sulle condizioni di una colonna. \
Per visulizzare solo la colonna in cui si pone una condizione, dopo questa condizione bisogna esplicitare il nome della colonna (ex. 'NO2'), altrimenti verrebbe visualizzato l'intero dataframe con tutte le colonne.
```python
df.loc['ColonnaA']
df.loc['ColonnaA' , 'ColonnaB']
df.loc[df.colonna > 50] 
df.loc[df.colonna > 50] = 0
df.loc[df.colonna > 50] = np.nan
df.loc[condizione1] & [condizione2]
df.loc[df.NO2<0, 'NO2'])
```
Loc[] può essere usato anche per ottenere i valori di una riga, specficando il nome della riga come argomento --> si ottiene la serie Pandas di tutti i valori corrispondenti a quella riga. \
Se si aggiunge anche *.at('nomecolonnaX')* viene mostrata solo il valore di intersezione tra riga (passata come parametro di loc) e colonna (passata come parametro di at)

```python
df.loc[400]
df.loc['rigaX']
df.loc['rigaX'].at('colonnaY')
```



- **query( )** \
L'argomento di query è una condizione da imporre ai dati. Il risultato è un **dataframe filtrato** \
Accede alle righe basandosi o sull'indice (ex.400) o sulle condizioni di una colonna.\
Per **2 condizoni** usare **and**

```python
dataframe.query('colonna')
dataframe.query('colonna == "valore"')  
nuovodf = dataframe.query('country == "italy" and indicator=="cases" and death= "%d"' %deaths)
```

# Funzioni utili 
1.  **unique()** \
Viene applicata a una colonna e crea una **lista**(in realtà un array, nevermind) contenente i valori unici nella colonna selezionata

```python
df.['colonna'].unique()
df.colonna.unique()
```

2. **sum()** \
Restituisce la somma dei valori di una colonna
```python
df['colonna'].sum()
df.colonna.sum()
```

3. **max()** & **min()** \
Restituisce il massimo o il minimo dei valori di una colonna
```python
df['colonna'].max()
df.colonna.min()
```

4.  **nunique()** \
Restituisce il **numero totale** di valori diversi di ciascuna colonna o l'intero dataframe.\
df.nunique==len(df.unique)

```python
df.nunique()
df['colonna'].nunique()
df.colonna.nunique()
```
5. **cut()** \
Serve per categorizzare, cioè convertire variabili continue in variabili categoriche.\
Può avere 3 argomenti: \
-1° si riferisce a una o più colonne del dataframe
-2° si riferisce ai bins (categorie). Può essere un numero o una lista di numeri.
-3° si riferisce ai labels
```python
pd.cut(df.nomecolonna, bins=N , labels = ("label1", "label2", ..., "labelN"))
```
6. **count()** \
Restituisce il numero di valori non nulli. \
Da solo è inutile perché corrisponde al numero di righe. Invece è utile quando usato dopo la funzione groupby().

```python
pd.groupby('nomecolonna(corrisponde_alla_categoria') ['colonna_su_cui_applico_count'].count()
```

7. **sort_values()** \
Ordina i valori di defualt in ordine crescente.
- *ascending*: se è false, ordine decrescente
- *by*: non ordina contemporanemnte per due colonne, ma prima ordina per la prima colonna e solo in caso di parità per la seconda
```python
df.nomecolonna.sort_values()
df.sort_values(by='nomecolonna')
df.sort_values(by=['nomecolonna1' 'nomecolonna2'])
df.nomecolonna.sort_values(ascending =False)
```

8. **iterrows()** \
Permette di iterare su *index,row* perché la funzione restituisce una tupla del tipo (indice, valore nella riga).\
Converte ogni riga in una serie di Pandas.


```python
for index,row in df.iterrows():
    ...
    ...

for index,row in df.iterrows():
    temporary_tuple =(row['colonnaA'], row['colonnaB'], row['colonnaC'])
    
   for index,row in df.iterrows():
       temporary_tuple =(row[0], row[1], row[2])
```

9. **set_index()** \
Trasforma una colonna nell'indice del dataframe
```python
df.set_index('nomecolonna', inplace=True)
```


11. **plot()**
-title = testo
-kind = scatter / bar(istogramma)
-x = valore da mettere sulle x. Se non indicato, di default è l'indice (nei grouped_dataframe, sarà la categoria)
-y = valore da mettere sulle y
-xlabel = testo
-ylabel = testo
c = colore che si vuole usare

```python

colors= {"setosa": "purple", "versicolor":"green", "virginica":"blue"}

iris_df.plot(title='petal_length vs. petal_width', 
             kind='scatter',
             x='petal_length', y='petal_width', 
             xlabel='Petal length', ylabel='Petal width',
             c=iris_df['species'].map(colors))

# Pulizia dati (data cleaning)

Quando si esegue il data cleaning bisogna capire qual è lo scopo per cui si opera il filtraggio:\
- Se si vuole plottare il dataframe (nel tempo) --> Settare a 0 valori incongrui (-999, outliers)
- Se si vuole fare un'analisi statistica --> Settare a NaN (perché lo 0 andrebbe a influenzare i calcoli, come per la media)

1.  **dropna()** \
Funzione che permette di eliminare tutti gli elementi con valore NaN.(Distinzione: se si vuole assegnare il valore NaN, la sintassi è *np.nan*, poi ciò che compare è solo *NaN*. 
dropna() elimina tutte le righe del dataframe che contengono un valore NaN almeno in una colonna

```python
dataframe.dropna()
dataframe.dropna(inplace=True, subset=['colonna'])
```

2. **dropduplicates()** \
Funzione che permette di rimuovere i valori duplicati nel dataframe.\
Sia per *dropduplicates()* che per *dropna()* è possibile svolgere l'operazione solo su alcune colonne selezionate.
*Inplace=True* evita che l'utilizzo delle funzioni generi un nuovo dataframe, mentre *subset* seleziona le colonne.
```python
dataframe.dropduplicates()
dataframe.dropduplicates(inplace=True, subset=['colonna'])
```
3. **fillna()** \
Funzione simila a *dropna()*, ma sostituisce i valori NaN con un valore di nostro piacimento.\
**Importante**: *fillna()* non prende il parametro subset, quindi per esplicitare la colonna su cui applicare la funzione bisogna usare la sintassi per accedere alle colonne prima di scrivere fillna().
 
```python
df.colonna.fillna(0, inplace=True)
df.colonna.fillna(df.colonna.mean(), inplace=True)
df.colonna.fillna(df.colonna.max(), inplace=True)
df.colonna.fillna(df.colonna.std(), inplace=True)


```

# Standardizzazione (Data Standardization)

Trasforma i dati delle colonne in modo che seguano un andamento gaussiano con  **media=0** e **deviazione standard=1** \
Bisogna importare una classe da un modulo. \
1. Creare una variabile *scaler* che sia un oggetto della classe *StandardScaler*
2. Convertire i valori standardizzati in una variabile *df_scaled* (NON è un dataframe)
3. Convertire la variabile standardizzata *df_scaled* in un dataframe *df_scaled*

```python
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df_scaled = scaler.fit_transform(df_unscaled)
df_scaled = pd.DataFrame(df_scaled, columns= df_unscaled.columns)
```

# Normalizzazione (Data Normalization)

Trasforma i dati delle colonne in modo che siano in un **range da 0 a 1** 
1. Creare una variabile *scaler* che sia un oggetto della classe *MinMaxScaler*
2. Convertire i valori standardizzati in una variabile *df_scaled* (NON è un dataframe)
3. Convertire la variabile standardizzata *df_scaled* in un dataframe *df_scaled*

```python
from sklearn.preprocessing import StandardScaler
scaler = MinMaxScaler()
df_scaled = scaler.fit_transform(df_unscaled)
df_scaled = pd.DataFrame(df_scaled, columns= df_unscaled.columns)
```

# CSV and XLSX -->  DATAFRAME

La funzione *pd.read_csv()* **crea automaticamente un dataframe**. \
Si possono leggere solo alcune colonne di un csv tramite il parametro *usecols* che può essere una variabile precedentemente creata come lista di nomi di colonne, colonne di un altro dataframe, ecc..

```python
import pandas as pd
df = pd.read_csv('nomefile.csv')
df = pd.read_csv('nomefile.csv', usecols= subset)
```
```python
! pip install openpyxl
df = pd.read_excel('nomefile.xlsx')
```

# ESPORTARE DF--> XLSX
```python
nome_dataframe_da_esportare.to_excel('nome_file.xlsx')

# TIME

## 1) DATETIME OBJECT
Nel caso avessimo un dataframe con 4 colonne corrispondenti a  year, month, day, hour possiamo creare un oggetto datetime (tipico di pandas) che racchiude tutte queste informazioni in un solo oggetto.\
In questo modo compattiamo 4 colonne in una nuova colonna che chiameremo *timerep*

```python
df['timerep'] = pd.to_datetime(df[['year', 'month', 'day', 'hour']])
```

La funzione *resample()* è usata quando lavoriamo con un oggetto datetime e serve a  aggrega i valori in base anni/masi. 
In questo caso stiamo unendo 24 righe (24 ore) in 1  riga sola (giorno) e il valore di questa riga sarà la media dei valori delle ore. 
```python
df.resample('D').mean()[['PM10','PM25','NO2']]
```

## 2) TIME MODULE
Calcolare tempo impiegato per eseguire un comando
```python
import time 
start_time = time.time() #Parte dal 1 gennaio del 1979
...
...
end_time = time.time()
print('Time occured' % (end_time-start_time))
```

## 3) %%timeit
**DEVE ESSERE IL PRIMO COMANDO DELLA CELLA**
```python
%%timeit
...
```
## 4) ISOCALENDAR()  --> datetime
Bisogna **importare il modulo datetime** --> oggetto datetime composta da anno-mese-giorno \
La funzione *isocalendar()* restituisce una tupla composta da: (year, week number, weekday).

``` python
import datetime
today = datetime.date.today()
```

``` python
import datetime
def week_string(year, month, day):
    ''' return a week number in the format yyyy-ww; for example,
    2021-45 for the 45th week of the year 2021. '''
    week = datetime.date(year, month, day).isocalendar()[1]
    return "%s-%02d" % (year, week)

# example: find the week string for March 1, 2020
print(week_string(2020, 3, 1))

# example: find the week string for November 30, 2021
print(week_string(2021, 11, 30))
```
- % - This tells the interpreter that a variable should be inserted here.

- 02 - This tells the interpreter to expect the variable to be 2 in length.

- d - This tells the interpreter to expect a number, or should we say a"'d’igit".

- Therefore what %02d represents is a digit of length 2 --> In this way 9--> 09